opencv/
Data Sets/
Miniconda2-latest-Linux-x86_64.sh
eyetraking/weights/
eyetraking/sample_images/*
eyetraking/predictions/*
eyetraking/Eye-TrackingVersion1/weights/
Data Sets/
env.py
*.pyc
docker-compose.override.yml
