{% extends "layout.html" %}

{% block content %}

<form action="/api/img" method="POST" enctype="multipart/form-data">
    <div class=" d-flex justify-content-center align-items-center">
        <div class="col-4 mx-sm-3 mb-2">
            <label for="imagefile">Cargue una imagen</label>
            <input class="form-control-file" type="file" name="imagefile" id="imagefile">
        </div>
        <input class=" col-4 btn btn-primary mb-2" type="submit" value="Subir">
    </div>
</form>

<div class="jumbotron d-flex justify-content-center">  

    {% for e in images %}

    <div class="text-center">
        <img src="{{url_for('static', filename='sample_images/' + e )}}" alt="{{e}}" height="100" />
        <div>
            <a class="btn btn-danger m-3" href="/api/delete?name={{e}}"> Borrar archivo {{e}} </a>
        </div>
    </div>
    
    {% endfor %}

</div>

<div class="m-3">
    <a class="btn btn-primary btn-lg btn-block" id="predict" href="/api/predict">Predecir Todo</a>
    <a class="btn btn-secondary btn-lg btn-block" id="charging" href="#" hidden>Cargando...</a>
</div>

<div class="jumbotron d-flex justify-content-center">  

    {% for e in predictions %}    
    
    <div class="text-center">
        <a href="http://deepgaze.xyz/eyetraking/predictions/{{e}}" download>
            <img src="{{url_for('static', filename='predictions/' + e )}}" alt="{{e}}" height="100" />
        </a>
    </div>

    {% endfor %}

</div>

<p class="text-center">*Click en la imagen para descargar</p>

<script>
    document.getElementById('predict').addEventListener('click', function() {
        this.hidden = true;
        document.getElementById('charging').hidden = false;
    });
</script>

{% endblock %}
